apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert
    kompose.version: 1.21.0 (992df58d8)
  creationTimestamp: null
  labels:
    io.kompose.service: dummysim
  name: dummysim
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: dummysim
  strategy: {}
  template:
    metadata:
      annotations:
        kompose.cmd: kompose convert
        kompose.version: 1.21.0 (992df58d8)
      creationTimestamp: null
      labels:
        io.kompose.service: dummysim
    spec:
      containers:
      - image: horizoncr.azurecr.io/dummysim:latest
        imagePullPolicy: ""
        name: dummysim
        resources: {}
      imagePullSecrets:
        - name: horizoncred
      restartPolicy: Always
      serviceAccountName: ""
      volumes: null
status: {}
